.hero {
    background: #000;
    color: #f5f5f7;
    text-align: center;
    padding: 60px 80px;

}

.hero-container h1 {
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 6px;
}

.hero-subtitle {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #a1a1a6;
 }


.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

.btn-primary {
    background: #0071e3;
    color: #fff;
    border: none;
    padding: 12px 22px;
    border-radius: 980px;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.15s ease;
    min-width: 28px;
}

.btn-primary:hover {
    background: #0077ed;
}

.link-learn-more {
    color: #0066cc;
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
    transition: color 0.15s ease-in-out;
}

.link-learn-more:hover {
    color: #0077ed;
    text-decoration: underline;
}

